@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap");
body {
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
* {
  margin: 0;
  padding: 0;
}
